#For Keil
obj/
lst/

#For IAR
Debug/
Release/
settings/

# For GCC
!.cproject
!.project

.lock
.location
.markers
version.ini
.history/
.mylyn/
Packages/
.settings/
RemoteSystemsTempFiles/
Samplecode/*/*/GCC/.metadata/.plugins/*
Samplecode/*/*/packages/
Samplecode/*/GCC/.metadata/.plugins/*
Samplecode/*/packages/

!Samplecode/*/*/GCC/.metadata/.plugins/org.eclipse.core.resources/
!Samplecode/*/*/GCC/.metadata/.plugins/org.eclipse.debug.core/
!Samplecode/*/*/GCC/.metadata/.plugins/org.eclipse.debug.ui/
!Samplecode/*/*/GCC/.metadata/.plugins/org.eclipse.e4.workbench/
!Samplecode/*/*/GCC/.metadata/.plugins/org.eclipse.core.resources/.projects/RemoteSystemsTempFiles/
!Samplecode/*/GCC/.metadata/.plugins/org.eclipse.core.resources/
!Samplecode/*/GCC/.metadata/.plugins/org.eclipse.debug.core/
!Samplecode/*/GCC/.metadata/.plugins/org.eclipse.debug.ui/
!Samplecode/*/GCC/.metadata/.plugins/org.eclipse.e4.workbench/
!Samplecode/*/GCC/.metadata/.plugins/org.eclipse.core.resources/.projects/RemoteSystemsTempFiles/

#For OSX
.DS_Store

#Files
*.log
*.dep
*.bak
*.uvgui.*
*.uvopt
*.txt
!LICENSE.txt
!NOTICE.txt
!Library/CMSIS/DAP/Firmware/Examples/LPC-Link-II/Abstract.txt
!Library/CMSIS/DAP/Firmware/Examples/XMC4200/Abstract.txt
!Library/CMSIS/DSP_Lib/Examples/arm_class_marks_example/ARM/Abstract.txt
!Library/CMSIS/DSP_Lib/Examples/arm_class_marks_example/GCC/Abstract.txt
!Library/CMSIS/DSP_Lib/Examples/arm_convolution_example/ARM/Abstract.txt
!Library/CMSIS/DSP_Lib/Examples/arm_convolution_example/GCC/Abstract.txt
!Library/CMSIS/DSP_Lib/Examples/arm_dotproduct_example/ARM/Abstract.txt
!Library/CMSIS/DSP_Lib/Examples/arm_dotproduct_example/GCC/Abstract.txt
!Library/CMSIS/DSP_Lib/Examples/arm_fft_bin_example/ARM/Abstract.txt
!Library/CMSIS/DSP_Lib/Examples/arm_fft_bin_example/GCC/Abstract.txt
!Library/CMSIS/DSP_Lib/Examples/arm_fir_example/ARM/Abstract.txt
!Library/CMSIS/DSP_Lib/Examples/arm_graphic_equalizer_example/ARM/Abstract.txt
!Library/CMSIS/DSP_Lib/Examples/arm_linear_interp_example/ARM/Abstract.txt
!Library/CMSIS/DSP_Lib/Examples/arm_matrix_example/ARM/Abstract.txt
!Library/CMSIS/DSP_Lib/Examples/arm_signal_converge_example/ARM/Abstract.txt
!Library/CMSIS/DSP_Lib/Examples/arm_sin_cos_example/ARM/Abstract.txt
!Library/CMSIS/DSP_Lib/Examples/arm_variance_example/ARM/Abstract.txt
!Library/CMSIS/DSP_Lib/license.txt
!Library/CMSIS/Lib/license.txt
!SampleCode/Semihost/README.txt
*.old
*.bin
!SampleCode/StdDriver/FMC_IAP/GCC/LDROM_code.bin
!SampleCode/StdDriver/FMC_IAP/IAR/dummy.bin
!SampleCode/StdDriver/FMC_IAP/IAR/Release/
!SampleCode/StdDriver/FMC_IAP/IAR/Release/Exe/LDROM_code.bin
!SampleCode/StdDriver/FMC_IAP/Keil/obj/
!SampleCode/StdDriver/FMC_IAP/Keil/obj/LDROM_code.bin
*.obj
*.orig
*.ok
*~
*.o
*.i
*.lst
*.map
*.d
*.crf
*.axf
*.out
*.pbi
*.cout
*.browse
*.scc

#Large stuff
*.zip
*.gz
*.bz
*.gzip
*.7z
*.rar

